[core]
	excludesfile = /Users/zengeist/.gitignore
	editor = vim
[user]
	name = Roman Komkov
	useConfigOnly = true
[alias]
	co = checkout
	s = status -s -b
	b = branch
	f = fetch
	c = commit
	mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
	ps = push
	pst = push --tags
	pl = pull
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	in = "!git remote update -p; git log ..@{u}"
	out = log @{u}..
	sh = describe --always
	d = difftool
[push]
	default = current
	followTags = true
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[color]
	branch = auto
	diff = auto
        interactive = auto
        status = auto
[diff]
	prompt = true
	tool = vimdiff
[merge]
	prompt = true
	tool = vimdiff
[github]
	user = decayofmind
[difftool]
	prompt = false
[diff "sopsdiffer"]
	textconv = sops -d
