[core]
	excludesfile = ~/.gitignore
	editor = nvim
[user]
	name = Uģis Ornicāns
	useConfigOnly = true
[commit]
	verbose = true
[alias]
	co = checkout
	s = status -s -b
	b = branch
	f = fetch
	c = commit
	mt = mergetool
	ps = push
	pst = push --tags
	pl = pull
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	sa = stash apply
	sl = stash list --pretty=format:'%Cblue%h %Cred* %C(yellow)%s'
	in = "!git remote update -p; git log ..@{u}"
	out = log @{u}..
	sh = describe --always
	undo = checkout --
	unstage = reset -q HEAD --
	d = difftool
[push]
	default = current
	followTags = true
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[diff]
	prompt = true
	tool = nvimdiff2
[merge]
	prompt = true
	tool = nvimdiff4
[github]
	user = orsonz
[difftool]
	prompt = false
[diff "sopsdiffer"]
	textconv = sops -d
[mergetool "nvimdiff4"]
	cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[mergetool "nfugitive"]
	cmd = nvim -f -c "Gdiff" "$MERGED"
[diff]
	tool = nvimdiff2
[difftool "nvimdiff2"]
	cmd = nvim -d $LOCAL $REMOTE
